*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}




/* Fond monochrome 1*/
.bg-hero{
    background-image: url("asset/Monochrome1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: 0.9;
}
.bg-hero-2{
    background-image: url("asset/Monochrome_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}


/* couleur txt*/
.white{
    color: white;
}



/*Placement texte*/
h1{
    
}

h2{
    
}

p{
    
  
}
nav{
    text-align: right;
}




/*Design texte*/

.rubik{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


/*Texte*/
a{
    text-decoration: none;
}

.black{
    color: #000000;
}

.bold{
    font-weight: bold;
}

.regular{
    font-weight: lighter;
}

.bouton1{
    padding: 10px;
    background-color:#353434;
    color:#FFFFFF;
    border-radius: 4px;
    display: inline-block;
}

.bouton2{
    padding: 10px;
    background-color: #FFFFFF;
    color:#000000;
    border-radius: 4px;
}

/*typo navbar*/
.typonav{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/*flexbox*/

.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.gap-8{
    gap: 50px;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

/*MARGIN & PADDING*/

.padding-15{
    padding: 15px;
}

.mb-20{
    margin-bottom: 20px;
}





/*TAILLE*/

.w-40{
    width: 40%;
}

.card{
    width: 30%;
}