*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}




/* Fond monochrome 1*/
.bg-hero{
    background-image: url("asset/Monochrome1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: 0.9;
}
.bg-hero-2{
    background-image: url("asset/Monochrome_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    
}


/* couleur txt*/
.white{
    color: white;
}



/*Placement texte*/
h1{
    
}

h2{
    
}

p{
    
  
}
nav{
    text-align: right;
}




/*Design texte*/

.rubik{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


/*Texte*/
a{
    text-decoration: none;
}

.black{
    color: #000000;
}

.bold{
    font-weight: 700;
}

.bold-400{
    font-weight: 400;
}

.regular{
    font-weight: lighter;
}

.bouton1{
    padding: 10px;
    background-color:#353434;
    color:#FFFFFF;
    border-radius: 4px;
    display: inline-block;
}

.bouton2{
    padding: 10px;
    background-color: #FFFFFF;
    color:#000000;
    border-radius: 4px;
    display: inline-block;
}

/*typo navbar*/
.typonav{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/*flexbox*/

.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.gap-50{
    gap: 50px;
}

.gap-20{
    gap:20px;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}


.flex-end{
    justify-content: flex-end;
}





/*MARGIN & PADDING*/

.padding-15{
    padding: 15px;
}

.mb-20{
    margin-bottom: 20px;
}

.mt-20{
    margin-top: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.mt-30{
    margin-top: 30px;
}

.pt-10{
    padding-top: 10px;
}

.pb-10{
    padding-bottom: 10px;
}



/*TAILLE*/

.w-50{
    width: 50%;
}

.w-40{
    width: 40%;
}

.w-30{
    width: 30%;
}

.w-20{
    width: 20%;
}

.card{
    width: 30%;
}

.div-card{
    width: 45%;
}


/*Containers*/

.container-800{
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.bg-red{
    background-color: red;
}
